# Compiled object files
*.o
*.obj
*.elf

# Arduino build files
*.hex
*.bin
*.eep
*.map

# VSCode / PlatformIO
.vscode/
.pio/
.DS_Store

# KiCad backup files
*.bak
*.kicad_sch-bak
*.kicad_pcb-bak
*.kicad_prl
*.kicad_sch-bck
*.kicad_pcb-bck
*.tmp
fp-info-cache

# Logs
*.log
*.tmp
*.swp

# Gerber outputs (optional, if you don’t want them tracked)
*.gbr
*.drl
*.zip
